
#arriveimg img{
    width:100%;
    
}

#arriveimg1 img{
    width:100%;
}

#qa img{
    width:100%;
}

#arriveimg2 img{
    width:100%;
}
#more img{
    
    width: 100%;
    

}

#arriveimg3 img{
    width:100%;
}

#arriveimg4 img{
    width:100%;
}
#arriveimg5 img{
    width:100%;
}
#arriveimg6 img{
    width:100%;
}

#five{
    
    display:grid;
    grid-template-columns: repeat(5,1fr);
    margin-bottom:20px;
}



#five div img{
    
    width:100%;
    height:100%;
}

#seven{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    margin-bottom:20px;
}

#seven div img{
    width:100%;
    height:100%;
}

#two{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom:20px;
}

#two div img{
    width:100%;
    height:100%;
}
#discover img{
    width:100%;
}