#slider{
    width: 100%;
    height: 600px;
  
    box-sizing: border-box;
}
#slider-iframe{
    width: 100%;
    height: 100%;
}
#slider-down-1{
    width: 100%;
    height: 337.25px;
    display: flex;
}
#slider-down-1>div{
    width: 30%;
    height: 100%;
}
#slider-down-1>div>img{
    width: 100%;
    height: 100%;
}
#slider-down-2{
    width: 100%;
    height: 140px;
}
#slider-down-2>img{
    width: 100%;
    height: 100%;
}
#slider-down-3{
    width: 100%;
    height: 620px;
}
#slider-down-3>img{
    width: 100%;
    height: 100%;
}
#slider-down-4{
    width: 100%;
    height: 600px;
   
    margin: auto;
    display: flex;
    margin-top: 65px;
}
#slider-down-4>div{
    width: 100%;
    height: 100%;
    margin: auto;
  
}
#slider-down-4> div>img{
    width: 100%;
    height: 100%;
}
#slider-down-5{
    width: 100%;
    height: 65px;
}
#slider-down-5>img{
    width: 100%;
    height: 100%;
}
#slider-down-6{
    width: 100%;
    height: 620px;
    display: flex;
}
#slider-down-6>div>img{
    width: 100%;
    height: 100%;
}
#slider-down-7{
    width: 100%;
    height: 430px;
    display: flex;
    margin: auto;

}

#slider-down-7>div>img{
    width: 100%;
    height: 100%;
}